body
{
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: url(logotrans.jpg);
    background-size: cover;
}
.box
{
    width: 500px;
    height: 430px;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    border-radius: 15px;

}
.box h1
{
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}
.box h3
{
    color: white;
    text-transform: uppercase;
    font-weight: 700; 
}
.a 
{
    color: #ffffff;
    font-size: 1rem;
 }
 .box input
  {
    position: absolute;
    left: 50%;
    top: 85%;
    transform: translate(-50%, -50%);
  }
  .box input[type="submit"]
{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid  #92AFAD;
    padding: 14px 35px;
    width: 200px;
    outline: none;
    color: #92AFAD;
    border-radius: 13px;
    transition: 0.25px;
    cursor: pointer;
}
.box input[type="submit"]:hover
{
    background: #92AFAD;
    color: white;
}
.wwbild
{
    position: absolute;
    top: 14%;
    left: 93%;
    transform: translate(-50%, -50%);
}
.backbutton
{
    position: absolute;
    width: 80px;
    height: 40px;
    border-radius: 4px;
    left: 2.5%;
    top: 3%;
    background-color: #92AFAD;
    color: white;
}
.backbutton:hover
{
    background-color: white;
}